<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img class="slide-bg-img" src="https://image.tmdb.org/t/p/original/k2twTjSddgLc1oFFHVibfxp2kQV.jpg" alt="">
    </div>
    <div class="slide-pane">
      <h2 class="name">Eternals</h2>
      <div class="meta">
        <div class="info">
          <span class="rating"><span>star</span><span class="rating-value">7.3</span><span>/10</span></span>
          <span>933 Reviews</span>
          <span>2021</span>
        </div>
      </div>
      <div class="desc mt-6">
        The Eternals are a team of ancient aliens who have been living on Earth in secret for thousands of years. When
        an unexpected tragedy forces them out of the shadows, they are forced to reunite against mankind’s most ancient
        enemy, the Deviants.
      </div>
    </div>
  </div>
</div>
